<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/eposapp</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.eposapp.entity.SysDepartmentEntity"/>
    <mapping class="com.eposapp.entity.SysMenuEntity"/>
    <mapping class="com.eposapp.entity.SysOrganizationEntity"/>
    <mapping class="com.eposapp.entity.SysRoleEntity"/>
    <mapping class="com.eposapp.entity.SysRoleMenuEntity"/>
    <mapping class="com.eposapp.entity.SysRoleUserEntity"/>
    <mapping class="com.eposapp.entity.SysUserEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>